<configuration>
    <timestamp key="time" datePattern="yyyyMMdd_HHmmss"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} : [DOER] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${DOER_HOME:-.}/logs/doer-${time}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app": {"name": "doer", "version": "0.1.1"}}</customFields>
        </encoder>
    </appender>

    <logger name="doer.console" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="io.github.s7i.doer" level="DEBUG"/>
    <logger name="org.apache.kafka" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>