<configuration>
    <property scope="context" name="LOG_DIR" value="${DOER_HOME:-.}"/>
    <property scope="context" name="CTX_NAME" value="${DOER_CTX_NAME:-doer}"/>
    <property scope="context" name="LOG_APPENDER" value="${DOER_LOG_APPENDER:-FILE}"/>

    <timestamp key="time" datePattern="yyyyMMdd_HHmmss"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} : [DOER] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/logs/${CTX_NAME}-${time}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="doer.console" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="io.github.s7i.doer" level="DEBUG"/>
    <logger name="io.grpc" level="INFO"/>
    <logger name="org.apache.helix" level="WARN"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.apache.zookeeper" level="WARN"/>


    <root level="DEBUG">
        <appender-ref ref="${LOG_APPENDER}"/>
    </root>
</configuration>