<configuration>
    <timestamp key="time" datePattern="yyyyMMdd_HHmmss"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} : [DOER] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${DOER_HOME:-.}/logs/doer-${time}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.github.s7i.doer" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.apache.kafka" level="DEBUG" />
    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>